* {
    font-family: Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
.baner {
    background-color: TOMATO;
    color: WHITE;
    padding: 10px;
}
.glowny {
    background-color: SEASHELL;
    height: 500px;
    overflow: hidden scroll;
}
.footer {
    background-color: TOMATO;
    color: white;
    display: flex;
    padding-top: 30px;
}
.footer div {
    height: 160px;
    width: 25%;
}
.opinia {
    background-color: WHITE;
    color: DIMGRAY;
    width: 60%;
    height: 220px;
    margin: 40px auto;
    box-shadow: 0 0 10px 5px DIMGRAY;
}
img {
    float: left;
    margin: 10px;
    border-radius: 10px;
}
p{
    padding: 10px;
    font-size: 150%;
    font-style: italic;
}
h1, h2 {
    text-align: center;
}
h4 {
    text-align: right;
    margin-right: 40px;
    font-size: 150%;
    font-style: italic;
}
a {
    color: white;
}